/* begin stylesheet body style navigation bar and jumbotron */

body {
    font-size: 16px;
    line-height: 1;
    padding-top: 70px;
    background-color: #f3ede0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  #jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    
  }

  .description {
    white-space: pre-wrap;
    background-color: rgb(253, 253, 253);
  }

  input {
    border:blue;
    width: 800px;
    height: 79px;
    background-color: #d3d3d3;
  }

  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }

  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #06AED5;
    color: white;
    text-align: center;
    height: 79px;
  
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  button {
    background-color: #06AED5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-left: 0px;
  }
  
  .colorcode {
    border-top: 1px dashed #000000;
    padding: 7px;
  }

/* apply styles to <header> */

header {
    top: 0px;
    padding: 18px 35px 0px 35px;
    background-color: #6f6866;
    position: fixed;
    width: 100%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ccdad1;
    margin: 0;
    display: inline;
  }
header a {
    text-decoration: none;
    color: #ccdad1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
header nav {
    float: right;
    margin: 7px 0;
  }
header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }



  .hero {
    background-image: url('../images/header.png');
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    margin-top: 17px;
  }


/* end nav jumbotron and header, begin input */

/* adding inline navigation to select amount of days traveling */

#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

ul#horizontal-list li {
		display: inline;
	}

/* end inline nav */




