/*   adding some targeted CSS and color scheme variables CRS  */

:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --buttons: #008CBA;
    --dark: #38302e;  
}

.weather-container {
    display:flex;
    background-color:var(--secondary);
}
#weather-title {
    text-align: center;
    background-color: var(--light-dark);
    width:100%;    
}

.card {
    margin:5px;
    box-shadow: 1px 1px 1px black;
}

.card-divider {

    background-color: var(--light-dark);
}
.card-body{
    font-size: 12px;
    background-color: var(--primary);
}
.row {
    margin: 0 0 0 5px;
    max-width: 84.5rem;
}

.outline {
    border: 2px solid black;
}
#getGone {
    border-radius: 5px;
    width: 100%;
}

#flightInfo {
    border: 2px solid black;
    margin-top: 10px;
}