/*   adding some targeted CSS and color scheme variables CRS  */

:root {
    --light: #f3ede0;
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --buttons: #008CBA;
    --dark: #38302e;  
}

/* apply styles to <header> */
/* a:link {
      color: #f3ede0;
  } */

a:visited {
    color: #9caea9;
}

a:hover {
    color: #788585;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #008CBA;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #fce138;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }






















.date-search {

}

.row {
    margin: 0 0 0 5px;
    max-width: 84.5rem;
}

.outline {
    border: 2px solid black;
}
#getGone {
    border-radius: 5px;
    width: 100%;
}

#flightInfo {
    border: 2px solid black;
    margin-top: 10px;
}