/*   adding some targeted CSS and color scheme variables CRS  */

:root {
    --light: #f3ede0;
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --buttons: #008CBA;
    --dark: #38302e;  
}

/* apply styles to <header> */
/* a:link {
      color: #f3ede0;
  } */
/* 
a:visited {
    color: #9caea9;
}

a:hover {
    color: #788585;
} */


body {
    padding-top: 70px;
}


/* apply styles to <header> */
header {
    top: 0px;
    padding: 18px 35px 0px 35px;
    background-color: #6f6866;
    position: fixed;
    width: 100%;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ccdad1;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #ccdad1;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  
  footer {
    background: #ccdad1;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }

  /* end header footer style */

  /* Hero Style Start */
.hero {
    background-image: url('../images/header.png');
    height: 400px;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    margin-top: 17px;
    /* position: absolute;
    z-index: -1; */
    /* position: relative; */
  }


  /* Hero Style End */

/* .date-search { */
    /* width: 30px; */

/* } */

.row {
    margin: 0 0 0 5px;
    max-width: 84.5rem;
}

.outline {
    border: 2px solid black;
}
#getGone {
    border-radius: 5px;
    width: 100%;
}

#flightInfo {
    border: 2px solid black;
    margin-top: 10px;
}