/*   adding some targeted CSS and color scheme variables CRS  */

:root {
    --light: #f3ede0;
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --buttons: #008CBA;
    --dark: #38302e;  
    --text-radius: 50em;
}

body {
    padding-top: 70px;
    background-color: #f3ede0;
    align-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* apply styles to <header> */

header {
    top: 0px;
    padding: 18px 35px 0px 35px;
    background-color: #6f6866;
    position: fixed;
    width: 100%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ccdad1;
    margin: 0;
    display: inline;
  }

header a {
    text-decoration: none;
    color: #ccdad1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header nav {
    float: right;
    margin: 7px 0;
  }

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  /* .jumbotron {
    margin-top: 448px;
  } */

.body {
    align-content: center;
}

  /* Footer styles */

  footer {
     padding: 50px; 
     width: 100%;
     position: relative;
     margin: 10px 0 0 0;
     background: #6f6866;
  }

  footer nav {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50px, -50%);
  }

  footer ul li {
      display: inline-block;
      list-style: none;
      width: 60px;
      height: 10px;
      /* background: white; */
      border-radius: var(--text-radius);
  }

  footer ul li:hover {
      background: black;
  }

  /* placeholder for logo */

  footer .logo {
      background: white;
      width: 50px;
      height: 50px;
      border-radius: var(--text-radius);
  }

  .company-logo {
      width: 200px;
      height: 50px;
  }

  footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    width: 100%;
  }
  
  footer a {
    color: #024e76;
  }
  
  section {
    padding: 60px;
  }

  /* end header footer style */

  /* Hero Style Start */
.hero {
    background-image: url('../images/header.png');
    height: 400px;
    background-size: auto;
    background-position: center;
    padding-top: 60px;
    margin-top: 17px;
    border-bottom: 10px solid black;
    /* position: absolute;
    z-index: -1; */
    /* position: relative; */
  }


/* Hero Style End */

#date-pick {
    width: 200px;
}

.card {
    margin:5px;
    box-shadow: 1px 1px 1px black;
    align-content: center;
}

.card-divider {

    background-color: var(--light-dark);
}
.card-body{
    font-size: 12px;
    background-color: var(--primary);
}
.row {
    margin: 0 0 0 5px;
    max-width: 84.5rem;
    align-content: center;
}



.outline {
    border: 2px solid black;
    align-content: center;
}
#getGone {
    border-radius:30px;
    width: 100%;
}

#flightInfo {
    border: 2px solid black;
    margin-top: 10px;
}
.flightHeaders h4 {
    color: white;
    background-color: purple;
    border-radius: 5px;
    text-align: center;
}
.flightHeaders .flightJSON {
    color: var(--dark);
    text-align: center;
}